<div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Информация за мен
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Здравейте казвам се Велин! Студент съм по Софтуерно Инженерство в Пловдивският Университет и съм 2ри курс.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Хобита и интереси
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Програмиране</li>
      <li>Игри симулатори</li>
      <li>Бокс/MMA</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Линк към канал на любим content creator
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a href="https://www.youtube.com/@Fireship">Fireship</a>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Информация за моя канал
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Съдържателни насоки за подкарване на Angular проект</p>
  </mat-expansion-panel>
</div>